@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #0095f7;
  --primaryActive-color: #00376b;
  --gray-color: #737373;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
/* Firefox */
* {
  scrollbar-width: thin;
  /* scrollbar-color: var(--secondary) var(--primary); */
  scrollbar-color: #efefef;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  border-radius: 8px;
  border: 1px solid #efefef;
}
body {
  background-color: #f7f7f7 !important;
  overflow-x: hidden;
}
h5 {
  @apply text-base font-semibold capitalize text-black;
}
h4 {
  @apply text-lg font-semibold capitalize text-black;
}
.scrollbar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.slick-next {
  right: 20px;
}
.slick-next::before {
  font-size: 28px;
}
.slick-prev::before {
  font-size: 28px;
}
.slick-prev {
  left: 6px;
  z-index: 1;
}
.slick-dots {
  bottom: -10px;
}
.slick-dots li button:before {
  color: #505257;
}
.slick-dots .slick-active button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #0399fd !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li {
  margin: 0;
}
.slick-disabled {
  display: none;
}
.modal-backdrop {
  @apply fixed bottom-0 left-0 right-0 top-0 bg-[#1210104f];
}

.custom-loader {
  width: 36px;
  height: 36px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, #0000 40%, #000 41%);
  background: linear-gradient(0deg, #37333c80 50%, #37333cff 0) center/2px 100%,
    linear-gradient(90deg, #37333c40 50%, #37333cbf 0) center/100% 2px;
  background-repeat: no-repeat;
  animation: s3 1s infinite steps(12);
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.custom-loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

/* .epr-emoji-category-label {
  display: none !important;
} */
